*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
}
/* Header Starting */
.container{
    margin: 0 35px;
    padding: 8px;
}

.Header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-logo{
    width: 240px;
}

.header_div{
    display: flex;
    gap: 35px;
    align-items: center;
    
}

.header_div-item a{
    color: #ffa500;
    text-decoration: none;
    font-size: 25px;
}
.header_div-item a:hover{
    color: aqua;
    text-decoration: underline;
}
/* Header End */
/* Section 1 Start */
.hero{
    display: flex;
    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: space-between;
    align-items: center;
}

.main_text{
    width: 700px;
}

.main_img img{
    width: 500px;
}

.main_text-heading{
    font-size: 40px;
    color: #0c0c0d;
}
/* Section 1 End */
/* section 2--card */
.showcase{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 64px;
    padding-top: 64px;
}

.showcase_card1 img{
    width: 150px;
}
.showcase_card1 h3{
    font-weight: 500;
    color: #818181;
    margin-top: 3px;
    text-align: center;
}

.showcase_card2 img{
    width: 200px;
}
.showcase_card2 h3{
    color: #818181;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
}

.showcase_card3 img{
    width: 150px;
}
.showcase_card3 h3{
    color: #818181;
    font-weight: 500;
    margin-top: 9px;
    text-align: center;
}
/* section 2 End */
/* Section 3 Start */
.company{
    display: flex;
    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: space-betweem;
    align-items: center;
}

.features img{
    width: 400px;
}
.features_text h3{
    font-size: 50px;
    margin-left: 5px;
    
}
/* Section 3 End */
/* Section 4 Start */
.about{
    display: flex;
    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: space-betweem;
    align-items: center;
}

.about_img img{
    width: 400px ;
}
.about_text h3{
    font-size: 50px;
    margin-left: 5px;
    
}
/* Section 4 End */
/* Footer Start */
.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 16px;
}
.footer_text{
    text-align: center;
}
